body{
    background-image: url("https://n1s1.hsmedia.ru/12/c8/a1/12c8a1817fb9958a86fb94e773a7c3d5/728x409_1_44cfe5bd08981432cce9c3e985da3403@1000x562_0xac120003_12232378701666365403.jpeg");
    background-size: cover;
}
h2{
    color:white;
}
label{
    color:white;
}